@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ddd;
}

header {
  color: white;
  background-image: url("./images/pattern-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 6em;
  height: 6em;
  padding-top: 4em;
  text-align: center;
  z-index: 5;
}

header form {
  width: 40%;
  margin: 0 auto;
  margin-top: 2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.1fr;
      grid-template-columns: 1fr 0.1fr;
}

header form input {
  font-size: 1.3rem;
  height: 3em;
  width: 100%;
  padding: 0 0 0 1em;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border: none;
}

header form button {
  border: none;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: black;
}

header form button:hover {
  cursor: pointer;
}

.result-area {
  background-color: white;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 70%;
  min-height: 5.5em;
  margin: 0 auto;
  margin-top: -3em;
  padding: 2em;
  border-radius: 1em;
  -webkit-box-shadow: 0em 1em 1em rgba(0, 0, 0, 0.1);
          box-shadow: 0em 1em 1em rgba(0, 0, 0, 0.1);
  justify-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 1em;
  position: absolute;
  left: 12%;
  z-index: 999;
}

.result-area .div {
  border-right: 1px solid rgba(0, 0, 0, 0.144);
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result-area .head {
  text-transform: uppercase;
  color: #2c2c2c;
  opacity: 50%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  width: 100%;
  margin-bottom: 1em;
}

.result-area .last {
  border: none;
}

.result-area .sub-head {
  margin-bottom: 1em;
  font-size: 1.5rem;
}

#mapid {
  z-index: auto;
  height: calc(100vh - 257px);
  position: static;
}

@media (min-width: 1921px) {
  #mapid {
    height: calc(100vh - 260px);
  }
}

@media (max-width: 1500px) {
  header {
    position: relative;
    z-index: 999;
    background-size: 100% 100%;
  }
  header form input {
    font-size: 1rem;
    width: 98%;
  }
  #mapid {
    height: 100vh;
  }
}

@media (max-width: 1100px) {
  header {
    background-size: 100% 100%;
  }
  header form {
    width: 80%;
  }
  header form input {
    font-size: 0.8rem;
  }
}

@media (max-width: 800px) {
  header {
    position: relative;
    z-index: 999;
    padding: 6em 3em;
    background-size: 100% 100%;
  }
  header .head {
    margin-top: -1em;
}
header form {
  width: 90%;
}
header form input {
  width: 100%;
  font-size: 0.7rem;
}
.result-area {
  position: absolute;
  left: 12%;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin-top: -3em;
  width: 64%;
}
.result-area .div {
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.144);
}
.result-area .div .sub-head {
  font-size: 14px;
}
.result-area .div .head {
  font-size: 12px;
}
#mapid {
  height: 100vh;
}
}

@media (max-width: 400px) {
header form {
  width: 100%;
}
header form input {
  width: 95%;
}
}